.container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 360px;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 360px;
  padding-left: 12px;
}

.navbar span {
  margin: auto 0;
}

.navbar > * {
  padding: 20px;
}

.navbar a {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  text-decoration: none;
}

.header-title {
  text-align: center;
}

.header-title h1,
.header-title h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.header-title .green {
  color: #36b37f;
}

.header-content {
  text-align: center;
  padding: 24px;
}

.header-content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
}

.icons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.icons li {
  padding: 4px;
}